 <div class="hero-container">
      <div class="hero-content">
          <h1>MOVE by WellMates</h1>
          <p>Through our program, participants will have access to a variety of wellness activities, workshops, and resources that cover various aspects of well-being, including physical, mental, and emotional health.</p>
          <a href="#" class="cta-button">Enroll Now</a>
      </div>
  </div>
  
    <section class="book-testimonial">
        <div>
        <p class="book-context">"I learned practical tips and techniques that helped me
            prioritize my well-being and lead a healthier and happier lifestyle.<br>
            I highly recommend it to anyone looking to make a positive changes in their life."
        </div>
    </section>

    <section class="e-book">
    
 <!--ebook picture needed-->
        <img class="pure-img" src="" alt="ebook preview"/>

        <h1>Limited Release</h1>
        <p>A comprehensive guide that provides practical tips, strategies, and insights to help individuals improve their overall well-being. </p>
        <a href="#" class="cta-button">Download E-Book</a>
    </section> 