<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./Assets/css/menu.css" />
    <link rel="stylesheet" href="./Assets/css/modal.css" />
    <link rel="stylesheet" href="./Assets/css/style.css" />
    <!--Modal Sign Up Script-->
    <script
  defer
  src="https://unpkg.com/a11y-dialog@8/dist/a11y-dialog.min.js"
></script>
    <title>The CareClub</title>
  </head>

  <body>
    <header class="home-menu pure-menu pure-menu-horizontal">
        <a href="#" class="pure-menu-heading pure-menu-link" id="CareClub">The CareClub</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <button type="button" data-a11y-dialog-show="my-dialog">Sign Up</button>
            </li>
            <li class="pure-menu-item">
                <button type="button" data-a11y-dialog-show="login-dialog">Member Login</a>
            </li>
            <li class="pure-menu-item">
                <a href="./e-book.html" class="pure-menu-link">E-Book</a>
            </li>
            <li class="pure-menu-item">
                <a href="#wellness-programs" class="pure-menu-link">Wellness Programs</a>
            </li>
        </ul>
    </header>

    
    <!-- 1. The dialog container -->
    <div id="my-dialog"  data-a11y-dialog class="dialog-container" aria-labelledby="dialog-title" aria-hidden="true">
      <!-- 2. The dialog overlay -->
      <div data-a11y-dialog-hide class="dialog-overlay"></div>
      <!-- 3. The actual dialog -->
      <div role="document" class="dialog-content">
        <!-- 4. The close button -->
        <button type="button" data-a11y-dialog-hide aria-label="Close dialog">
          &times;
        </button>
        <!-- 5. The dialog title -->
        <h1 id="dialog-title">Sign Up</h1>
        <!-- 6. Dialog content -->
        <form class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="aligned-name">Username</label>
                    <input type="text" id="aligned-name" placeholder="Username" />
                </div>
                <div class="pure-control-group">
                    <label for="aligned-password">Password</label>
                    <input type="password" id="aligned-password" placeholder="Password" />
                </div>
                <div class="pure-control-group">
                    <label for="aligned-email">Email Address</label>
                    <input type="email" id="aligned-email" placeholder="Email Address" />
                </div>
                <div class="pure-control-group">
                    <label for="aligned-num">Phone Number</label>
                    <input type="text" id="aligned-num" placeholder="Phone Number" />
                </div>
                <div class="pure-control-group">
                    <label for="aligned-dob">Date of Birth</label>
                    <input type="date" id="aligned-dob" placeholder="Date of Birth" />
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary" id="submit-sign">Submit</button>
                </div>
            </fieldset>
            </form>
      </div>
    </div>

    <!-- The member dialog container -->
    <div id="login-dialog"  data-a11y-dialog class="dialog-container" aria-labelledby="dialog-title" aria-hidden="true">
        <div data-a11y-dialog-hide class="dialog-overlay"></div>
        <div role="document" class="dialog-content">
          <button type="button" data-a11y-dialog-hide aria-label="Close dialog">
            &times;
          </button>
          <h1 id="dialog-title">Member Login</h1>
          <!-- Dialog content -->
          <form class="pure-form pure-form-aligned">
              <fieldset>
                  <div class="pure-control-group">
                      <label for="aligned-name">Username</label>
                      <input type="text" id="aligned-name" placeholder="Username" />
                  </div>
                  <div class="pure-control-group">
                      <label for="aligned-password">Password</label>
                      <input type="password" id="aligned-password" placeholder="Password" />
                  </div>
                  <div class="pure-controls">
                      <button type="submit" class="pure-button pure-button-primary" id="submit-log">Submit</button>
                  </div>
              </fieldset>
              </form>
        </div>
      </div>

    <!--Hero section-->
    <div class="hero-container">
      <div class="hero-content">
          <!--logo-->
          <h1>Nourish your mind, <br> Nurture your body.</h1>
              <p>Discover the profound link between mental well-being and mindful eating</p>
              <a href="#" class="cta-button">Get Started</a>
              <!--make sure link goes where it needs-->
      </div>
    
  </div>




<!--Info Section-->
<section class="first-section">

    <div id="content-text">
  
      <h3>Embrace the challenge, envision the future</h3>
  
      <div id="paragraph-wrapper">
        <p id="first-paragraph"> &#x2713 Are you tired of feeling stuck in a cycle of unhealthy habits? </p>
        <p>&#x2713 Are you ready to break free from the monotony and rediscover a vibrant and fulfilling life?</p>
        <p>Our wellness program is here to provide the support and guidance you need to make lasting changes.</p>
      </div>
  
    </div>
  
  </section>

<!--Info Section-->
<section class="second-section">
    <div class="image-container">
      <img class="pure-img" src="/assets/images/Sections/INNER-HEALING.png" alt="Lady in flower">
    </div>
    <div class="text-container">
      <h4>Take your first step<br>to inner healing</h4>
      <p>We strive to provide you a room to grow and a safe space where you can be vulnerable and stay true to yourself.<br>This is our mission: bringing you a step closer to a healthier relationship with yourself.</p>
    </div>
  </section>

<!--Meet the Team section-->
<section id="team-members">
    <h4>MEET THE TEAM</h4>

    <div class="categories">
        <div class="team-category">
            <img class="pure-img" src="/assets/images/Photos/TEAM-LAURA.jpg" alt="team member"/>
            <div>
                <h5>LAURA SIMPSON</h5>
                <h6 class="team-member-title">Fitness and Nutrition Coach</h6>
                <p class="team-member-description">Nourish your body with the power of food and achieve optimal health and well-being with expert guidance from a certified nutritionist.</p>
            </div>
        </div>
        <div class="team-category">
            <img class="pure-img" src="Assets/Images-PROJ2/Photos/TEAM-KATIE.jpg" alt="team member"/>
            <div>
                <h5>KATIE COLE</h5>
                <h6 class="team-member-title">Clinical Therapist and Mindset Coach</h6>
                <p class="team-member-description">Unleash your inner strength and resilience and navigate life's challenges with support from a compassionate and experienced psychotherapist.</p>
            </div>
        </div>
    </div>
</section>

<!--Client Testimonials-->
  <section class="first-testimonial">
      <div>
      <p class="testimonial-context">"I was blown away by the guidance and support provided by the wellness coach. They created a personalized program that was tailored to meet my individual needs and goals."</p>
  
          <!--floating quotes-->
  
  </div>
  </section>

<!--Courses-->
  <section class="course-section" id="wellness-programs">
      <h4 id="course-title">DISCOVER OUR NEWLY RELEASED COURSES</h4>
      <p>We understand that your journey t`o well-being is unique and personal. <br>
          That's why we've created a selection of new courses designed to support you every step of the way.</p>
      <div class="course-categories">
          <div class="course-category">

              <!--text on pic already? change links-->

              <h5>Unlocking the Secrets of Superfoods</h5>
              <img class="pure-img" src="./assets/images/move.png" alt="wellness image"/>
                 <!-- <p>Effective and flexible approach to improving your physical and mental health. With this approach, you take responsibility for your own well-being and create a personalized program that meets your specific needs and goals.</p>-->
              <a href="#" class="cta-button2">Learn More</a>
          </div>       

              <!--text on pic already? change links-->

          <div class="course-category"> 
          <h5>Taming Your Inner Critic</h5>
          <img class="pure-img" src="./assets/images/mindfull.png" alt="mindfull image"/>
              <!-- <p>Interactive, educational, and practical sessions that are designed to help individuals develop new skills, gain knowledge, and improve their overall physical and mental well-being.</p>-->
              <a href="#" class="cta-button2">Learn More</a>
          </div>
      </div>
  </section>


<!--Client Testimonials-->
  <section class="second-testimonial">
      <div>
          <h5 id="testimonial-heading">From Despair to Hope: How This Nutrition Course Changed My Life</h5>
          <p class="testimonial-context"> "
              This course was unlike anything I had ever experienced before. It was informative, <br>
               compassionate, and empowering. I learned so much about nutrition and the role it plays in <br>
                mental health. I also learned how to develop a healthy relationship with food and my body."</p>
      </div>
  </section>

<!--Programs --change logos -->
<section id="programs">
    <h4 id="programs-apart">WHAT SETS US APART</h4>
    <div class="programs-categories">
      <div class="category">
        <img class="pure-img" src="/assets/images/Icons/FOOD-EXPERIENCE.png" alt="Category 1">
        <h2>FOOD AS AN EXPERIENCE</h2>
        <p class="caption">Well-being service providers incorporate food as a centerpiece of their offerings, creating a holistic approach to wellness.</p>
      </div>
      <div class="category">
        <img class="pure-img" src="/assets/images/Icons/INNER-HARMONY.png" alt="Category 1">
        <h2>INNER HARMONY</h2>
        <p class="caption">Establish a state of balance and peace of mind, characterized by a sense of acceptance, contentment, and emotional resilience.</p>
      </div>
      <div class="category">
        <img class="pure-img" src="/assets/images/Icons/SUPPORT.png" alt="Category 1">
        <h2>SUPPORT GROUP</h2>
        <p class="caption">We create a safe and supportive space for individuals to share their experiences and connect with others who face similar challenges.</p>
      </div>
      <div class="category">
        <img class="pure-img" src="/assets/images/Icons/PROGRESS.png" alt="Category 1">
        <h2>PROGRESS CHECK</h2>
        <p class="caption">Our service doesn’t end after you finish your course. Your well-being matters to us.</p>
      </div>
    </div>
  </section>

      
<!-- News section 1-->
  <section id="news-section">
      <h4 id="news-title">LATEST NEWS IN MENTAL HEALTH & NUTRITION</h4>
      <div class="news-categories">
          <div class="news-category" id="article-1">

              <img class="pure-img" src="/assets/images/Photos/NEWS-LEFT.jpg" alt="Category 1">

              <h2>PTSD in  America 2023</h2>

                  <p>Add JavaScript for article date</p>

                  <a href="#" target="_blank" class="cta-button3">Sign Up</a>
          </div>

          <div class="news-category" id="article-2">
              
          <img class="pure-img" src="/assets/images/Photos/NEWS-CENTER.jpg" alt="Category 1">

          <h2>Virtual and home-based 
              fitness fad</h2>

              <!--Add JavaScript for article date-->

              <a href="#" target="_blank" class="cta-button3">Sign Up</a>
      </div>

      <div class="news-category" id="article-3">

          <img class="pure-img" src="/assets/images/Photos/NEWS-RIGHT.jpg" alt="Category 1">

          <h2>Resistance training to 
              improve overall health</h2>

              <!--Add JavaScript for article date-->

              <a href="#" target="_blank" class="cta-button3">Sign Up</a>
      </div>
  </section>



<!--Sign Up Section-->
  <section>
  <div class="container">
      <h2>LETS KEEP IN TOUCH</h2>
      <h3 id="newsletter-txt">Subscribe to our newsletter</h3>
      <form id="signup-form">
          <label class="btn-text" for="email">Email:</label>
          <input type="email" id="email" name="email" required placeholder="Enter your email address here">
          <button class="submit-btn" type="submit">Sign Up</button>
      </form>
      <p id="confirmation-message"></p>
  </div>
  </section>

<!--FOOTER-->
  <footer class="footer">

    <!--footer logos needed-->
     <img src="./assets/images/WellMates Logo Carlos-01.png" alt="Logo">
     
      <p>© All rights reserved</p>
  </footer>

<script src="./assets/js/modal-script.js"></script>

</body>
</html>
