/* Default styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
}

body {
    background-color: white;
}

h2,h3,h4,h5 {
    margin-bottom: 10px;
    text-align: center;
    
}

p {
    font-size: 16px;
    text-align: center;
}


h1 {
    display: inline-block;
    font-size: 48px;
}

h3{
    color: white;
}

h4{
    color:#292A6B;
    font-size: 36px;
}

/* #team-members {
    writing-mode:vertical-rl;
} */

h5{
    font-size: 24px;
    padding: 0px;
    margin-bottom: 0px;
}


h6{
    font-size: 15px;
    color: black;
    padding: 20px;
}


/* Style Header */
header {
    padding: 30px;
    background-color: #98DED9;
    color: #292A6B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 139px;
}

/* Logo */
.logo img {
    height: 139px;
    max-height: 100%;
}




.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #0a6dc2;
    min-height: 400px;
    overflow: hidden;
  }
  
  .hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/Assets/Images-PROJ2/Photos/HERO-IMG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }


.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #292A6B;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #292A6B;
    text-align: left;
}



.Hero {
    display: inline-block;
    height: 522px;
    width: 100%;
    background-size: cover;
    background-position: left;
}

/* Style the Hero button */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f7f7f7; 
    color: #0a6dc2; 
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #292A6B;
    color:#98DED9;
}

.category-title {
    white-space: nowrap;
  }

/* Style First Info Section */
.first-section{
    max-width: 100%;
    height: 100%; 
    background-color: #0a6dc2;
    color: white

}

#content-text{
    color: white;
    padding: 60px 100px;
    height: auto;
    background-color: #0a6dc2;
    font-size: 20px;
}

#first-paragraph{
    text-align: left;
}

/* Style Second Info Section */
.second-section h4{
    color:#f7f7f7
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Adjust the height of the section as needed */
  }
  
  .image-container, .text-container {
    width: 100%;
    height: 50%;
  }
  
  .pure-img {
    object-fit: contain;
    max-height: 100%;
  }
  
 
  .home-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 90px;
    background-color: #fff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .pure-menu-list {
    margin: 0;
    padding: 0;
  }
  
  .pure-menu-item {
    display: inline-block;
    display: inline;
    zoom: 1;
    vertical-align: middle;
  }
  
  .pure-menu-link {
    display: block;
    padding: 1em;
    color: #222;
    text-decoration: none;
  }
  
  .pure-menu-link:hover,
  .pure-menu-link:focus,
  .pure-menu-link:active {
    background-color: #eee;
  }
  
  .pure-menu-heading {
    font-size: 1.125em;
    font-weight: 400;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
  }
.second-section{
    color: #292A6B;
    background-color: #f7d07d;
    padding: 40px;
    height: auto;
    text-align: center;
}

#paragraph-wrapper {
    text-align: left;
    margin: 0 auto;
    max-width: 560px;
  }

/*Style Team Section*/
.team-members h4, h5 {
    color: #0a6dc2;
}
.categories {
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
.team-category {
    text-align: center;
    width: 200px;
    height: auto;
    margin: 50px;
}
  
 .team-category img {
    width: 120%;
    height: auto;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 20px;
  }

.team-member-title{
    color: black;
    font-size: 15px;
    padding: 15px;
}

.team-members{
    color: #292A6B;
    background-color: white;
    padding: 60px;
    height: auto;
    text-align: center;
}

.team-member-description {
    margin: 0; 
}

#team-members h4{
    margin-top: 40px;
}

/*Style Testimonials*/
.first-testimonial{
    width: 100%;
    height: auto;
    background-color: #0a6dc2;

    background-image: url(".assets/images/pexels-tima-miroshnichenko-6389079.jpg");
}

.second-testimonial{
    width: 100%;
    height: auto;
    background-color: #0a6dc2;

    background-image: url(".assets/images/pexels-tima-miroshnichenko-6389079.jpg");
}

#testimonial-heading{
    color: white;
    padding-top: 30px;
}

.testimonial-context{
   color: white;
   font-size: 25px;
   padding: 90px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.book-testimonial{
    width: 100%;
    height: auto;
    background-color: #f7d07d;

    background-image: url(".assets/images/pexels-tima-miroshnichenko-6389079.jpg");
}

.book-context{
    color: #0a6dc2;
    font-size: 25px;
    padding: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .e-book h1{
    color:#0a6dc2;
 }

/*Style Course Section*/
.course-section {
    height: auto;

    background-image: url ;

    padding: 20px;
    text-align: center; 
    color:#0a6dc2;
}

#course-title {
    color:#0a6dc2;
    margin-top: 30px;
    margin-bottom: 20px; 
}

.course-categories {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding: 0px;
}

.course-category {
    text-align: center;
    width: 300px;
    }

.course-category img {
    width: 50%; 
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.course-categories {
    display: flex;
    justify-content: space-between; /* Or use justify-content: center; for centering the children */
  }
  
  .course-category {
    flex-basis: calc(50% - 30px); /* Set the width of each child element */
    flex-grow: 1;
    margin: 15px; /* Optional margin between the child elements*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
      

.course-section p{
    font-size: 20px;
}

/* Style CTA button in Course Section*/
.cta-button2 {
    display: inline-block;
    padding: 10px 40px;
    margin-top: 25px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

a.cta-button2{
    background-color: #f7f7f7; 
    color: white;
}

a.cta-button2:hover {
    background-color: white;
    color:#292A6B;
}


/* Programs Section*/
#programs{
    text-align: center;
    background-color: #f7d07d;
    color:#f7f7f7;
    height: auto;
    padding: 50px;
}

#programs-apart{
    color:#f7f7f7;
}

.programs-categories {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }
  
.category {
    text-align: center;
    width: 176px; 
   
  }
  
 .category img {
    width: 100%;
    height: auto;
  }

.caption{
    color:#f7f7f7;
    font-size: 20px;
}



/* Style Latest News section */
#news-section{
    padding: 20px;
    margin-bottom: 20px;
    color:#0a6dc2;
}

#news-title {
    color:#0a6dc2;
}

.news-categories {
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
.news-category {
    text-align: center;
    width: 176px; 
    margin-right: 100px;
  }
  
 .news-category img {
    width: 150%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
  }

  .news-section h4{
    font-size: 18px;
  }

/* Style the Call to Action (CTA) button in Help Section*/
.cta-button3 {
    display: inline-block;
    padding: 10px 40px;
    margin-top: 15px;
    background-color: #0a6dc2;
    color: #f7d07d;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.cta-button3:hover {
    background-color: #f7d07d;
    color: #0a6dc2;
}

/* Style Podcast */
.podcast {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 70px;
    max-width: 100%;
    background-color: #98DED9;
}

.cta-button2 {
    display: inline-block;
    padding: 10px 40px;
    background-color: #292A6B;
    color: #98DED9;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.cta-button2:hover {
    background-color: #98DED9;
    color: #292A6B;
}


/*Style Sign Up*/
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #0a6dc2;
    color: #ffa800;

    font-size: 25px;
}

.submit-btn{
    background-color: #ffa800;
    border-radius: 50px;
    padding: 10px 25px;
    border-color: white;
    border: none;
    margin-left: 15px;
}

.btn-text{
    color: #161D6F;
    font-size: 24px;
}

#signup-form{
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin: 0px 200px;
    height: auto;
}

#newsletter-txt{
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin-bottom: 15px;
    padding: 0px;
}

input[type="email" i] {
    max-width: 100%;
    max-height: 100%;
}
  
.fitness {
    display: flex;
    color: #98DED9;
    font-size: 42px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    justify-content: center; 
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #161D6F;
    display: block;
    margin-block-start: 1.33em;
    font-weight: bold;
}

.article {
    padding: 25px;
}
/*Style Footer*/
.footer{
    background-color: white;
    color: #292A6B;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
}

.footer img{
    width: 177px;
    height: 193px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {
        float: none;
        text-align: center;
        margin-top: 20px;
    }

    li {
        margin: 0 10px;
    }}

    